.img_box{
  position:relative;
}
.img_title{
  position: absolute;
  bottom:0;
  width:100%;
  color:white;
  background:rgba(0,0,0,0.5);
  margin:0;
  padding:6px 0 6px 3px;
}
.loading_position{
  position:fixed;
  top:50%;
  left:50%;
  margin: 0;
  padding:0;
}
